body {}

.container {
    display:flex;
    flex-flow: row wrap;
    background-color:gray;
    border: solid black 4px;
}

.gridSquare {
    flex: 1;
    min-width: 7.5rem;
    min-height: 7.5rem;
    border: solid black 5px;
}

.gridSquare:hover {
    background-color: green;
}
